@page "/Scraper"


<h1 class="text-danger">Scraper Page</h1>
<h2 class="text-danger">click a method of Scrape.</h2>

<h3>Scape!!</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    buttons to scrape from HAP Selenium Rest Sharp.
</p>