@page "/Scraper"

<h1>Scraper Page</h1>
<h2>click a method of Scrape.</h2>

<h3>Scape!!</h3>
<div class="container">
    <button class="btn btn-primary" href="RestSharp">Rest Sharp</button>
</div>



